<style>
  h5 {
    text-align: center
  }
  .card {
    color: black;
    background-color:#F0FFF9;
  }
}
.hidden{
  visibility: hidden;
}

  
</style>

{{#if user}}
<div class="card">
<div class="indentform">
<h5 ><u><b>Purchase Indent</b></u></h5>
<br>
<br>
<br>

<form action="/edit" method="post" ref='uploadForm' id='uploadForm' encType="multipart/form-data" >
{{#each result}}
<input type="text" style="width:0%;" name="indentno" value="{{indentno}}" readonly></input>
<p ><b> Name & designation <input style="margin-bottom: 0% ;margin-right:40%;  ;background-color:white;width:350px;" type="text"  name = "name" value ="{{name}}" required> Date.<input style="margin-bottom: 0% ; margin-right:1%; width:200px; float:right;background-color:white;" type="date"  value="{{date}}" name = "date" required></b></p>

<br>
Division: <input style="margin-bottom: 0% ; width:350px;;background-color:white;" type="text" value="{{division}}" name = "division" required></p>
 

<br>
<br>
{{!-- <h4 class="center"><b>Budget Head-...P-50</b></h4> --}}
<table id = "myTable"class="table table-hover">
    <thead>
      <col width = "80">
      <col width = "550">
      <col width = "80">
      <tr>
        <th>Sr.no</th>
        <th>Name of Item/Material</th>
        <th>Qty</th>
        <th>Estimated cost(`)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input style="margin-bottom: 0%;background-color:white;" type="text" value="{{one1}}" name = "one1" required></td>
        <td><textarea style="margin-bottom: 0%;background-color:white;" type="text"   name = "two1" required>{{two1}}</textarea></td>
        <td><input style="margin-bottom: 0%;background-color:white;" type="text"  value="{{three1}}" name = "three1" required></td>
       <td><input style="margin-bottom: 0%;background-color:white;" type="text" value="{{four1}}" name = "four1" required></td>
       </tr>
        <tr>
        <td><input style="margin-bottom: 0%;background-color:white;" type="text" value="{{one2}}" name = "one2"></td>
        <td><textarea style="margin-bottom: 0%;background-color:white;" type="text"  name = "two2">{{two2}}</textarea></td>
        <td><input style="margin-bottom: 0%;background-color:white;" type="text" value="{{three2}}" name = "three2"></td>
       <td><input style="margin-bottom: 0%;background-color:white;" type="text" value="{{four2}}" name = "four2"></td>
       </tr>
        <tr>
        <td><input style="margin-bottom: 0%;background-color:white;" type="text" value="{{one3}}" name = "one3"></td>
        <td><textarea style="margin-bottom: 0%; background-color:white;" type="text"  name = "two3">{{two3}} </textarea></td>
        <td><input style="margin-bottom: 0%; background-color:white;" type="text" value="{{three3}}" name = "three3"></td>
       <td><input style="margin-bottom: 0%;background-color:white;" type="text" value="{{four3}}" name = "four3"></td>
       </tr>
        
      
    </tbody>
  </table>
<br>
  <a href="#" title="" class="add-row btn red" style="float:right; width:190px;"><i class="fa fa-plus"></i> Add Row</a>
  <br><br>
 
 <ol>
  <li><p>  Certified that to the best of our knowledge, the items indented are the propietary items of M/s:  <input style="margin-bottom: 0% ; width:350px;background-color:white;" type="text" value="{{innernm1}}" name = "innernm1" required>and marketed by their only authorize disributer.M/s: <input style="margin-bottom: 0% ; width:350px; background-color:white;" type="text" value="{{innernm2}}" name = "innernm2" required>in India. We shall be held responsible in case the certificate is found to be incorrect.
  </p></li>
  <br>
   <li><p> The requirement could not be anticipated earlier, is emergent is nature. The items are required for Project No .  <input style="margin-bottom: 0% ; width:350px;background-color:white;" type="text" value ="{{projectno}}" name="projectno" required>a sponsored / In house project and the deadline for delivery is <input style="margin-bottom: 0% ; width:350px; background-color:white;" type="text" value="{{deadline}}" name = "deadline" required>The consequence if the item is not procured within the dead line is <input style="margin-bottom: 0% ; width:350px; background-color:white;" type="text" value="{{consequence}}" name = "consequence" required>
  </p></li>
  <br>
   <li><p>  The details about the equipment, availability of spares, ease of maintainance etc.  <input style="margin-bottom: 0% ; width:350px;background-color:white;" type="text" value="{{equipdetails}}" name = "equipdetails" required>
  </p></li>
  <br>
   <li><p>  <input style="margin-bottom: 0% ; width:350px;background-color:white;" type="text" value="{{delreqnm}}" name = "delreqnm" required>The delivery of the item is required by.
  </p></li>
  <br>
   <li><p >  The availability of funds: <input type="radio" style="margin-left:10px; background-color:white;" name="fundavail" id="yes" value="yes" required>
        <label for="yes"><b>yes</label> <input  type="radio" name="fundavail" id="no" value="no">
        <label for="no"><b>no</label><br>
        Name of Project :  <input style="margin-bottom: 0% ; width:350px; background-color:white;" type="text" value="{{projectnm}}" name = "projectnm" required>
        <br>Budget Provision :  <input style="margin-bottom: 0% ; width:350px; background-color:white;" type="text"   value="{{budget}}" name = "budget" required>
        <br>
        <br>
       Whether necessary fund is available to process this item<br>(This should commensurate with the delivery Schedule)<br> PME/Accounts  <input type="radio" name="necfundavail" id="yes1" value="yes" required>
        <label for="yes1" style="color:gray;"><b>yes</label> <input  type="radio" name="necfundavail" id="no1" value="no">
        <label for="no1"><b>no</label><br>
  <br>
   
      <li><p>  The installation Requirement like area , power , civil works etc. are ready ?  <input type="radio"    name="installreq" id="yes2" value="yes" required>
        <label for="yes2"><b>yes</label> <input  type="radio" name="installreq" id="no2" value="no">
        <label for="no2"><b>no</label><br>
  </p></li>
      
  
   <li><p>  The list of available vendors. Their addresses and websites whrever available.  <br>1.<input style="margin-bottom: 0% ;background-color:white; width:350px;" type="text" value="{{vend1}}" name = "vend1" required> <br> 2. <input style="margin-bottom: 0% ; width:350px; background-color:white;" type="text" value="{{vend2}}" name = "vend2"> <br>3.<input style="margin-bottom: 0% ; width:350px; background-color:white;" type="text" value="{{vend3}}" name = "vend3">
  </p></li>
  <br>
   <li><p>  The inspection schedule for the item is under:  <input style="margin-bottom: 0% ; width:350px;background-color:white;" type="text" value="{{inspectionunder}}" name = "inspectionunder" required>
  </p></li>
  <br>
   <li><p>  Certified that the item is not available in stores:   <input style="margin-bottom: 0% ; width:350px; background-color:white;" type="text" value="{{certifiedavail}}" name = "certifiedavail" required>
  </p></li>
  <br>
  
</ol>
    
   <input type="file" name="sampleFile" class="btn">
   Upload Description If any
   <input type="submit" value = "Save" class="btn"> 
 {{/each}}
  </form>
  </div>
  </div>
  {{else}}
  not an user
  {{/if}}