<META Http-Equiv="Cache-Control" Content="no-cache">
<META Http-Equiv="Pragma" Content="no-cache">
<META Http-Equiv="Expires" Content="0">
<style>
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  
    
}
.green{
    background-color: aqua;
}
.top-push{
  margin-top: 12%;
}
.push-footer{
    margin-top:15%;
    padding-bottom: 10%;
}
.btn {
    background-color:#FF9206;
    
    
}
.push{
    background-color: #13AFE1;
    margin-left: 20%;
}
.colr{
    background-color: #13AFE1;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;

}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #F12821;
    color: white;
}
</style>
<a href="/viewall" class="btn push"><i class="fa fa-eye"></i>&ensp; View all Indent Forms</a>
<a href="/viewuser" class="btn colr"><i class="fa fa-list-ol"></i>&ensp;List of active Users</a> 
<br><br>
 <a href="/deletedform" class="btn push"><i class="fa fa-history"></i>&ensp; Deleted form History</a>
<a href="/deleteduser" class="btn colr"><i class="fa fa-history"></i>&ensp; Deleted User History</a>
<table id="customers">
  
  {{#if result}}
  <h1 class="top-push">History:</h1>
  <tr>
    <th>IndentNo</th>
    <th>Division</th>
    <th>View</th>
    <th>Delete</th>
    <th>Description</th>
  </tr>
{{#each result}}
  <tr>
    <td>{{indentno}}</td>
    <td>{{division}}</td>
    <td><a  class="btn" href="/indent/{{id}}"><i class = "fa fa-address-book"></i> View</a></td>
    <td>
      
      <form action="/indent/{{id}}?_method=DELETE" method = "post" id="delete-form">
            <input type="hidden" name = "_method" value="DELETE">
            <button href = "#modal1" class="btn red modal-trigger" type="submit"><i class="fa fa-remove"></i> DELETE</button>
            
            
            </form></td>
            {{#if description}}
            <td><a class="btn green" target="_blank" href="{{description}}"><i class="fa fa-print" ></i> Print Description</a></td>
            {{else}}
            <td><button  data-target="modal2" class="btn red modal-trigger green"><i class = "fa fa-remove"></i> No Description Uploaded</button> </td>
            <div id="modal2" class="modal">
    <div class="modal-content" style="height:150px;">
      <h4>No Description Uploaded</h4>
            {{/if}}  
  </tr>
  {{/each}}
  {{else}}
 <div class="push-footer">
  No Indent form found
  </div>
  {{/if}}
 
</table>
<br><br>
<br><br>



 

